* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #555;
  background-color: #f4f4f4;
}

.container-login {
  max-width: 45%;
  /* border: thick solid rgb(241, 241, 241); */
  border-radius: 5px;
  margin: auto;
  margin-top: 5%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* background-size: cover;
  background-position: top; */
}

.row {
  margin: 10px;
  /* border: 1px solid gold; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  float: left;
  width: 50%;
  padding: 10px;
}

.tab {
  display: table;
  margin: 0 auto;
  padding: 10px;
  /* background-color: antiquewhite; */
}

button {
  outline: none;
}

.tab__btn {
  font-size: 18px;
  font-weight: 300;
  color: #555;
  padding: 10px 12px;
  border: none;
  display: inline-block;
  background: none;
  cursor: pointer;
}

.active,
.tab__btn:hover {
  color: #4caf50;
}

.active {
  border: 1px solid #4caf50;
}

.tab__content {
  padding: 2px;
  /* border: 1px solid red; */
  text-align: center;
  margin: 10px;
}

.form-control {
  display: inline-block;
  /* border: 1px solid red; */
}

.form-group {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  padding: 12px 15px;
  border-radius: 5px;
  transition: border 0.3s;
  margin-top: 4px;
  width: 100%;
}

.form-group:focus {
  outline: none;
  border: 1px solid #4caf50;
}

.form__title {
  padding: 10px;
}

.btn__green {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.btn__green:hover {
  opacity: 0.7;
}

#sign-in {
  display: none;
}

.logo {
  font-size: 35px;
  font-weight: 700;
  color: #4caf50;
}

.img-parcel {
  width: 100%;
  margin-top: 40px;
}

.text-help {
  margin-top: 10px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

/* Global Container */
.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  background: #fff;
  padding: 30px 0 10px 0;
  min-height: 70px;
  border-bottom: #cccccc 3px solid;
}

header a {
  color: #555;
  text-decoration: none;
  font-size: 16px;
}

header li {
  display: inline-block;
  padding: 0 15px 0 15px;
}

header .branding {
  float: left;
}

header .branding h1 {
  margin: 0;
  color: #4caf50;
}

header .user-details {
  float: right;
  margin: 0;
}

header nav {
  text-align: center;
  padding-top: 10px;
}

header a:hover,
header .current a {
  color: #4caf50;
}

/* Section 'show-actions' */

.show-actions {
  margin-top: 30px;
}

.show-actions .container {
  background-color: #fff;
  min-height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.show-actions h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.show-actions .boxes {
  text-align: center;
}

.show-actions .box {
  display: inline-block;
  width: 20%;
  background-color: #f4f4f4;
  margin-top: 10px;
  border-radius: 1px;
}

.show-actions .box h3 {
  background-color: #fff;
  margin: 2px;
  padding: 10px 0 10px 0;
  font-weight: 300;
  color: #4caf50;
}

.show-actions .box p {
  padding: 10px 0 10px 0;
  font-weight: 700;
  font-size: 25px
}

.parcel-list-container {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#table-delivery-orders {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 100%;
}

#table-delivery-orders td,
#table-delivery-orders th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-delivery-orders tr:nth-child(even) {
  background-color: #f4f4f4;
}

#table-delivery-orders th {
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4caf50;
  color: #fff;
}

footer {
  margin-top: 30px;
  text-align: center;
}

footer span {
  color: #4caf50;
}